.input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 40px;
    font-size: 30px;
}

input {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: large;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3dc9e;
}